@@include('header.html', {
	"title": "Агентство недвижимости и ипотеки АРИОН group Тюмень. Покупка квартиры в Тюмен",
	"desc": "Агентство недвижимости и ипотеки АРИОН group оказывает услуги по покупке квартиры. Продажа квартир. Покупка вторичных кварти",
	"h1": "Агентство недвижимости АРИОН group . Покупка квартиры в Тюмени",
	"css": [
		"template"
	]
})	

@@include('site/modules/header-nav/module.html')
<div class="modules">
	@@include('site/modules/header-bunner/module.html')
	@@include('site/modules/сonsequences-module-1/module.html')
	@@include('site/modules/number-items-3/module.html')
	@@include('site/modules/numbers-items/module.html')
	@@include('site/modules/catalog-slider/module.html')
	@@include('site/modules/galery-images/module.html')
	@@include('site/modules/comments/module.html')
	@@include('site/modules/comments-2/module.html')
	@@include('site/modules/module-contacts-2/module.html')
	@@include('site/modules/footer/module.html')
</div>

@@include('site/widgets/modal/widget.html')
@@include('site/widgets/photoswipe/widget.html')

@@include('footer.html', {
	"js": [
		"template"
	]
})
